.venv/
test.*
*.log
data
Logs
dinov2_patches/
__pycache__

# not adding .vscode to .gitignore because of extrapaths

# wsi
*.tiff
dinov2_patches/
run_GT.py
GraphDataset/
DataPreprocessed/
new_metadata.csv
*.sh
Plots
.DS_Store
Image
dinov2_patches_seq
GraphDatasetSeq